[submodule "golang"]
	path = golang
	url = https://github.com/ohrite/chef-golang
[submodule "monit"]
	path = monit
	url = https://github.com/crowdmob/chef-monit
[submodule "nutty"]
	path = nutty
	url = https://github.com/ohrite/chef-golang-web-server-cookbook
[submodule "git"]
	path = git
	url = https://github.com/opscode-cookbooks/git
